@import 'tailwindcss';

html {
  @apply overscroll-none;
}

body {
  @apply font-sans antialiased;
}

@layer base {
  html {
    color: #111827;
    background: #ffffff;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
  }

  body {
    line-height: 1.6;
    font-size: 15px;
  }

  code,
  pre {
    font-family: var(--font-mono);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@utility spacer-divider {
  display: flex;
  gap: 4px;
  align-items: center;
  width: 100%;
  height: 12px;
  background-image: repeating-linear-gradient(
    315deg,
    var(--color-neutral-200) 0,
    var(--color-neutral-200) 1px,
    transparent 0,
    transparent 50%
  );
  background-size: 10px 10px;
  -webkit-mask-image: linear-gradient(90deg, #000, transparent);
  mask-image: linear-gradient(90deg, #000, transparent);
}
